@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

*{
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}
body{
  background-image: url("https://images.unsplash.com/photo-1463936575829-25148e1db1b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8&w=1000&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1{
  font-size: 150px;
  color:#fff;
  margin-bottom: 100px;
  margin-top: 5px;
  margin-left: 25px;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Alfa Slab One', cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
h3{
  color: #034b2f;
  font-size: 20px;
  display: block;
  border: .5 px solid #62B369;
  border-radius: 20px;
  box-shadow: 1px 5px lightgray;
  background-color: #ffffff;
  width: 400px;
  opacity: 0.8;
  align-items: center;
  font-family: 'Limelight', cursive;
  padding: 10px;
}
button{
  display:flex;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
}
.lastButton{
  margin-bottom: 45px;
}