
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  padding: 30px;
  font-size: 80px;
  border: #FF424E;
  border-style: solid;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 5px 10px 18px #000;
  background-color: #F56B7A;
  color: white;
  margin-top: 10px;
  font-family: 'Lobster', cursive;
}

button:hover {
  border: #FFF339;
  border-style: dotted;
  background-color: #66c9cf;
}

span {
  padding: 30px;
  font-size: 100px;
  background-color: #b5eaea;
  border: #FF424E;
  border-style: solid;
  border-radius: 15px;
  color: #fff;
  font-family: 'VT323', monospace;
}

body {
  background: #0FECDD;
}

br {
  display: block;
  margin: 5px 0;
  line-height:22px;
}
